html, body {
    min-height: 100%;
    height: 100%;
}

.fill {
    height: calc(100vh - 100px);
}

body {
    padding-top: 60px; /* space for the top nav bar */
    margin-right: 15px;
}

#forgeViewer {
    width: 100%;
}

.displayclass {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.panel {
    background-color: #ddeffc;
    padding: 10px;
    border-radius: 4px;
}
.col{
    padding: 0px;
}
.adsk-viewing-viewer #toolbar-explodeTool {
    display: none !important
}

.adsk-viewing-viewer #toolbar-modelStructureTool {
    display: none !important
}